h3{
    color:#FFF;
    font-weight: normal;
    margin-bottom: 2px;
}
h4{
    font-size: 26px;
    color:#FFF;
    font-weight: normal;
}
h5{
    font-size: 16px;
    margin-top:25px;
}
h6{
    font-size: 14px;
    font-weight:700;
    margin-bottom: 5px;
}
body{
    background-color: black;
    border-top: 10px solid #d24260;
    margin: 0 auto;
    width: 1000px;
    cursor: context-menu;
} 
main{
    background-color: #1b1b1b;
    border-bottom: 4px solid #151513;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: 1em 0;
    padding: 0;
}
#myLink {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #d24260;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
/*headeri*/
#header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    height: 140px;
    padding: 0px 20px;
}
#logo h1 {
    color: white;
    margin: 40px 0px 0px 0px;
    float: left;
}
#logo h6 {
    color: gray;
    margin-top: 0%;
    padding-top: 0%;
}
#socialMedia{
    float: left;
    margin-right: 20px;
}
#socialMedia .fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 100%;
}
.fa:hover, body a:hover, #myBtn:hover {
    opacity: 0.7;
}
#search input {   
    width: 200px;
    height: 25px;
    background-color: #d24260;
    border-radius: 40px;
    float:right;
    border: none;
    padding-left: 10px;
} 
#search button {
    outline: none;
    position: absolute;
    margin-left: 180px;
    margin-top: 3px;
    color:white;
    height: 23px;
    width: 23px;
    background: black;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}
/* nav */
#nav{
    background-image: gradient(linear,left top, left bottom,from(#3a383f),to(#0f0f0f));
    background-image: linear-gradient(#3a383f,#0f0f0f);
    height: 60px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
header nav a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}
header nav a:hover {
    color: #d24260;
}
nav ul{
    float: left;
    padding-left: 20px;
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid white;
}
#home{
    border-left: none;
}
    /*Dropdown*/
    nav ul li ul {
        display: none;
        position: absolute;
        z-index: 1;
        /*border-bottom: 1px solid white; */
    }
    nav ul li ul li {
       padding: 15px ;
       margin-left: -41px;
       width: 43px;
       background-color: #1b1b1b;
       /*border-right: 1px solid rgb(194, 194, 140);*/
       
    }
    nav ul li:hover ul{
        display: block;
    }
/*slideshow*/
.slideshow {
    height: 380px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.para , .pas {
    position: absolute;
    cursor: pointer;
    color: gray;
    background-color: #1b1b1ba1;
    text-align: center;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100%;
    border: 3px solid gray;
    margin: 190px 30px;
  }
.para {left: 0;}
.pas{right: 0;}
.para:hover , .pas:hover {background-color: rgba(255, 255, 255, 0.26);}
.pershkrimi {
    height: 100px;
    width: 900px;
    opacity: 0.5;
    background-color: black;
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    padding: 2px 30px;
  }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
  }
.active {
    background-color: transparent;
    border: 1px solid #bbb;
  } 
/*Permbajtja*/
.row {  
    background-color: #1b1b1b;
    color:#999999;
    height: 760px; 
    border-bottom: 4px solid #151513;
}
.row a {
    color: #d24260;
    text-decoration: none;
}
#row1 {
    height: 520px;
    margin-left: 20px;
    margin-right: 20px;
}
#leftpane {
    width: 300px;
    height: 520px;
    float: left;
    margin-right: 30px;
    position: relative;
}
#middlepane {
    width: 300px;
    height: 520px;
    float: left;
    margin-right: 30px;
    position: relative;
}
#rightpane {
    width: 300px;
    height: 520px;
    float: left;
    position: relative;
}
.media h5 {
    padding-top: 15px;
    margin-bottom: 0px;
}
.media h5 b{
    padding-left: 10px;
}
/*fotot te row1*/
.foto {
    color: #343434;
    font-size: 50px;
    width: 64px;
    height: 64px;
    margin-right: 5px;
    float: left;
}
/*Link-at */
.float-right {
    float:right;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
#row2 {
    height: 200px;
    margin-left: 20px;
    margin-left: 20px;
}
.col1 {
    width: 200px;
    float: left;
    margin-right: 40px;
    height: 200px;
}
.col1 h4{
    margin: 0px 0px 0px 0px;
}
.col2 {
    width: 225px;
    margin-right: 20px; 
    float: left;
    height: 200px;
}
.col3 {
    width: 225px;
    float: left;
    height: 200px;
}
#row2 img {
    width: 225px;
    height: 120px;
}
/*footeri*/
footer {  
    background-color: #201e1d;
    color:#999999; 
    border-top: 1px solid #373432;
    cursor: context-menu;
}
footer h5 {
    color: rgb(194, 194, 140);
}
#row3 {
    height: 240px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    border-bottom: 1px solid #373432;
}
footer ul li {
    border-bottom: 1px solid #373432;
    line-height: 14.4px;
    padding: 8px 0px;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li a , #mail{
    color:#999999;
    text-decoration:none;
}
footer ul li a:hover, #mail:hover {
    color:#d24260;
}
.button {
    background-color: #2c2c2c;
    border: none;
    color: #ed4669;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    margin: 8px 0px;
    border-radius: 5px;
    font-weight: bold;
  }
.input {
    width: 100%;
    background-color: #2c2c2c;
    color: #858585;
    padding: 6px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}
.float-right1{
    float:right;
    margin-left:10px;
    color: #d24260;
    text-decoration: none;
}
