//old project
main {
    background-image: url(images/prova.png), url(images/paper.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 20px 20px;
    font-size: 17px;
}
legend {
    text-align: center;
    text-transform: uppercase;
}
#table1 {
    border-spacing: 20px; /* Apply cell spacing */
    margin-left: auto;
    margin-right: auto;
}
#table1 input[type = "text"], #table1 input[type = "email"], #datalist {
    width: 300px;
    height:  10px;
    padding: 12px;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
    outline: none;
}
#table1 input[type=text]:focus, #table1 input[type=email]:focus, select:focus {
    border: 1px solid #d24260;
}
#table1 select {
    width: 325px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #1b1b1b;
}
#table2 td {
    width: 100px;
    text-align: center;
    background-color: gray;
}
#div1, #div2 {
    float: left;
    width: 70px;
    height: 50px;
    margin: 0 10px 10px 10px;
    padding: 5px;
    border: 1px solid #1b1b1b;
  }
input[type="submit"]:disabled {
    opacity: 0.5;
}


