//old project
#table1 img {
  width: 495px;
  height: 500px;
  margin: 0;
  padding: 0;
  -webkit-filter: grayscale(100%); /* Safari */
  filter: grayscale(100%);
}
#table1 img:hover {
  -webkit-filter: grayscale(0%); /* Safari */
  filter: grayscale(0%);
  border: 1px solid yellow;
}
#videos {
  margin: 10px 30px;
  background-color: black;
  padding: 10px 50px;
}
#titulli2 {
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.ttf);
}
.addText:before {
  content: "HOW TO: ";
}
main p {
  text-align: center;
  color:white;
}
#video {
  color: white;
  text-align: center;
}
.butoniX:hover, #video img:hover {
  opacity: 0.7;
  color: white;
  cursor: pointer;
}
.shfaqu {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden; /*The overflow-y property is used to specify whether the content of an element should be hidden */
  transition: 0.5s;
}
#video1, #video2 {
  margin: 100px 260px;
  cursor: pointer;
}
.butoniX {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  background-color: transparent;
  border: none;
  color: #d24260;
}
